.media-icons {
    position: absolute;
    top: 20px;
    right: 50px;
    display: flex;
    gap: 15px;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10
}

.media-render-icons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    z-index: 10
}

